html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(25, 25, 25);
  color: rgb(184, 184, 184);
  font-family: "Consolas";
  /* font-size: 1em; */
}
* {
  margin: 0;
  padding: 0;
}

.app {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.button {
  box-sizing: border-box;
  padding: 3px 7px;
  margin: 2px;
  align-self: flex-start;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 1px;
  color: rgb(184, 184, 184);
  background-color: rgb(45, 45, 45);
  box-shadow: 0 0px 4px 0 rgb(0, 0, 0, 0.85);
}

.button:hover {
  background-color: rgba(16, 172, 183);
  color: rgb(255, 255, 255);
}

.button.selected {
  background-color: rgb(16, 122, 183);
  color: rgb(255, 255, 255);
}

/* .board-row:after {
  clear: both;
  content: "";
  display: table;
} */

.gridContainer {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgb(67, 65, 189);
}

.cell {
  box-sizing: border-box;
  border: 1px solid rgb(189, 65, 65);
  margin: 3px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.grid {
  padding: 3px;
  box-sizing: border-box;
  /* display: flex; */
  /* align-self: center;
  justify-self: center; */
  flex-direction: column;
  border: 1px solid rgb(65, 189, 92);
}