.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 8em;
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0px 8px 0 rgb(0, 0, 0);
  margin-right: 5px;
}

.sidebarTitle {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(33, 33, 33);
  box-shadow: inset 0 0px 8px 0 rgba(0, 0, 0, 0.5);
  height: 2em;
}